* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.sit__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sit__item {
  color: rgb(17, 16, 16);
  font-family: Futura PT;
  font-size: 16px;
  max-width: 350px;
}

.sit__btn {
  width: 33px;
  height: 30px;
  background-image: url(../../img/feather_menu.png);
  background-repeat: no-repeat;
  border: none;
  display: none;
}

.sit__img {
  justify-content: space-between;
  align-items: center;
  max-width: 325px;
}

@media screen and (max-width: 930px) {
  .sit__item {
    max-width: 200px;
  }
  .sit__img {
    max-width: 150px;
  }
  .sit__btn {
    display: inline-block;
  }
}
@media screen and (max-width: 774px) {
  .sit__item {
    max-width: 175px;
  }
  .sit__img {
    max-width: 130px;
  }
}
@media screen and (max-width: 755px) {
  .sit__item {
    display: none;
  }
}
.main__work {
  background-image: url(../../img/hayvonlar1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main__list {
  max-width: 1200px;
  padding: 240px 0 150px 700px;
  align-items: center;
}

.main__title {
  margin-bottom: 15px;
}

.main__texst {
  margin-bottom: 15px;
}

.main__btn {
  padding: 10px 7px;
  color: white;
  background-color: black;
}

@media screen and (max-width: 1197px) {
  .main__list {
    max-width: 900px;
  }
  .main__work {
    max-width: 1000px;
  }
}
@media screen and (max-width: 1022px) {
  .main__list {
    max-width: 885px;
  }
  .main__work {
    max-width: 985px;
  }
}
@media screen and (max-width: 992px) {
  .main__list {
    max-width: 865px;
  }
}
.help__main {
  max-width: 900px;
  text-align: center;
  margin-top: 40px;
}

.help__text {
  color: rgb(51, 51, 51);
  font-family: Futura PT;
  font-size: 20px;
  margin-bottom: 40px;
}

.help__text2 {
  color: rgb(51, 51, 51);
  font-family: Futura PT;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 1195px) {
  .help__main {
    max-width: 785px;
  }
}
@media screen and (max-width: 1011px) {
  .help__main {
    max-width: 765px;
  }
}
@media screen and (max-width: 926px) {
  .help__main {
    max-width: 745px;
  }
}
.outline__main {
  max-width: 1400px;
}

.outline__title {
  color: rgb(51, 51, 51);
  font-family: Futura PT;
  font-size: 38px;
  text-align: center;
  margin-top: 91px;
}

.timline {
  max-width: 1400px;
}

.timline__list {
  margin-top: 85px;
  gap: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  text-align: center;
}

.timline__img {
  max-width: 100px;
}

.timline__text {
  color: rgb(51, 51, 51);
  font-family: Futura PT;
  font-size: 18px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1077px) {
  .timline__list {
    max-width: 400px;
  }
  .timline__img {
    max-width: 400px;
  }
}
@media screen and (max-width: 800px) {
  .timline__list {
    max-width: 385px;
  }
  .timline__img {
    max-width: 3855px;
  }
}
@media screen and (max-width: 677px) {
  .timline__list {
    max-width: 365px;
    flex-direction: column;
  }
  .timline__img {
    max-width: 365px;
  }
}
.run {
  max-width: 1100px;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 40px;
}

.run__title {
  color: rgb(51, 51, 51);
  font-family: Futura PT;
  font-size: 36px;
  margin-bottom: 18px;
}

.run__text {
  color: rgb(148, 148, 148);
  font-family: Futura PT;
  font-size: 16px;
  margin-bottom: 15px;
}

.run__btn {
  color: rgb(255, 255, 255);
  font-family: Futura PT;
  font-size: 16px;
  padding: 15px 36px 15px 63px;
  border-radius: 3px;
  background: rgb(255, 189, 84);
  gap: 21px;
}

.run__btn2 {
  color: rgb(255, 255, 255);
  font-family: Futura PT;
  font-size: 16px;
  padding: 15px 5px 15px 64px;
  border-radius: 3px;
  background: rgb(51, 51, 51);
}/*# sourceMappingURL=main.css.map */