.help__main{
  max-width: 900px;
  text-align: center;
  margin-top: 40px;
}




.help__text{
  color: rgb(51, 51, 51);
  font-family: Futura PT;
  font-size: 20px;
 margin-bottom: 40px;
}
.help__text2{
  color: rgb(51, 51, 51);
font-family: Futura PT;
font-size: 20px;
text-align: center;
}

@media screen and (max-width:1195px) {
  .help__main{
    max-width: 785px;
  }
}
@media screen and (max-width:1011px) {
  .help__main{
    max-width: 765px;
  }
}
@media screen and (max-width:926px) {
  .help__main{
    max-width: 745px;
  }
}


















.outline__main{
  max-width: 1400px;

}
.outline__title{
color: rgb(51, 51, 51);
font-family: Futura PT;
font-size: 38px;
text-align: center;
margin-top: 91px;
}

