.timline {
  max-width:1400px ;
}
.timline__list {
  margin-top: 85px;
 gap: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  text-align: center;
 



}

.timline__img{
  max-width:  100px;
}


.timline__text{
  color: rgb(51, 51, 51);
font-family: Futura PT;
font-size: 18px;
margin-bottom: 40px;

}
@media screen and (max-width:1077px) {
  .timline__list{
    max-width: 400px ;
  }
  .timline__img{
    max-width: 400px ;
  }

}
@media screen and (max-width:800px) {
  .timline__list{
    max-width: 385px;
  }
  .timline__img{
    max-width: 3855px;
  }
}
@media screen and (max-width:677px) {
  .timline__list{
    max-width: 365px;
    flex-direction: column;
  }
  .timline__img{
    max-width: 365px;
  
  }
}