.main__work{
  background-image: url(../../img/hayvonlar1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;

 
}
.main__list{
  max-width: 1000px;
padding: 240px 0 150px 700px;
align-items: center;


}
.main__title{
  margin-bottom: 15px;
}
.main__texst{
  margin-bottom: 15px;
}
.main__btn{
  padding: 10px 7px;
  color: white;
  background-color: black;
}
