.main__work{
  background-image: url(../../img/hayvonlar1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 

 
}
.main__list{
  max-width: 1200px;
padding: 240px 0 150px 700px;
align-items: center;


}
.main__title{
  margin-bottom: 15px;
}
.main__texst{
  margin-bottom: 15px;
}
.main__btn{
  padding: 10px 7px;
  color: white;
  background-color: black;
}
@media screen and (max-width:1197px) {
.main__list{
  max-width: 900px;
}
.main__work{
  max-width: 1000px;
}
}
@media screen and (max-width:1022px) {
  .main__list{
    max-width: 885px;
  }
  .main__work{
    max-width: 985px;
  }
}
@media screen and (max-width:992px) {
  .main__list{
    max-width:865px ;

  }
}
