
.run{
  max-width: 1100px;
  display: flex;
  align-items: center;
  gap: 40px;
margin-right: 40px;

}

.run__title{
  color: rgb(51, 51, 51);
font-family: Futura PT;
font-size: 36px;
margin-bottom: 18px;
}
.run__text{
  color: rgb(148, 148, 148);
font-family: Futura PT;
font-size: 16px;
margin-bottom: 15px;
}
.run__btn{
  color: rgb(255, 255, 255);
font-family: Futura PT;
font-size: 16px;
padding: 15px 36px 15px 63px;
border-radius: 3px;
background: rgb(255, 189, 84);
gap: 21px;

}
.run__btn2{
  color: rgb(255, 255, 255);
font-family: Futura PT;
font-size: 16px;
padding: 15px 5px 15px 64px;
border-radius: 3px;
background: rgb(51, 51, 51);
}



